/*============== Стилизация блока Преимущества =============== */
.section {
  color: $text-color;
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }

  // .section__title
  &__title {
    margin-bottom: 30px;
    margin-top: 0;

    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  // .section__list
  &__list {
    @extend %list;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  // .section_item
  &__item {
    text-decoration: none;
    color: inherit;
    font-size: 14px;

    // .section_item:not(:last-child)
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 4 * 30px) / 4);
      margin: 15px;
    }

    // &--for-shadow {
    //   background-color: $bg-main-color;
    //   box-shadow: $box-shadow;
    //   border-radius: 0px 0px 4px 4px;
    // }
  }

  // .section__subtitle
  &__subtitle {
    text-transform: uppercase;
    font-size: inherit;

    margin-top: 30px;
    margin-bottom: 10px;

    // &--bigger
  }

  // .section_text
  &__text {
    line-height: 1.71;
    margin: 0;
  }
}

// Products
.product {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 0;
  }
  // .product__item
  &__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
    position: relative;
  }
  // .product__item-title
  &__item-title {
    margin: 0;

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 27px;

    background-color: $bg-overlay-color;
    color: $title-secondary;
    text-align: center;
    text-transform: uppercase;
  }
}

// Team
.team {
  background-color: $bg-secondary-color;
  margin: -15px;

  &__item {
    background-color: $bg-main-color;
    box-shadow: $box-shadow;
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 4 * 30px) / 4);
      margin: 15px;
    }
  }

  &__item-title {
    @extend %team-size;
    font-weight: 500;
  }

  &__item-text {
    @extend %team-size;
    font-weight: 400;
    margin-bottom: 16px;
  }

  &__item-photo {
    width: 100%;
  }
}
